<div class="container">
  <div class="row">
      <h1>
        {{title}}
      </h1>

      <form>
        <fieldset>
          <my-date-range-picker [options]="rangePickerOptions"
                   (dateRangeChanged)="onDateRangeChanged($event)"></my-date-range-picker>
        </fieldset>
        <fieldset>
          <legend>Airfare</legend>
          <p>
            <input id="airfare-total" type="number" step=".01" name="airfare" [(ngModel)]="model.airfare.total">
          </p>
        </fieldset>

        <fieldset>
          <legend>Conference Registration</legend>
          <p>
            <input id="registration-total" type="number" step=".01" name="registration" [(ngModel)]="model.registration.total">
          </p>
        </fieldset>


        <fieldset>
          <legend>Wi-fi ({{model.wifi.display}})</legend>
          <p>
            <multi-line-item [model]="model.wifi"></multi-line-item>
          </p>
        </fieldset>

        <fieldset>
          <legend>Train/Bus/Taxi/Car service ({{model.car.display}})</legend>
          <p>
            <multi-line-item [model]="model.car"></multi-line-item>
          </p>
        </fieldset>

        <fieldset>
          <legend>Hotel</legend>
          <p>
            <input id="hotel-total" type="number" step=".01" name="hotel" [(ngModel)]="model.hotel.total">
          </p>
        </fieldset>

        <fieldset>
          <legend>Per Diem</legend>
          <p>
            <per-diem [model]="model.per_diem"></per-diem>
          </p>
        </fieldset>

        <fieldset>
          <legend>Total:</legend>
          <p style="font-weight: bold">
            {{model.display}}
          </p>
        </fieldset>
      </form>
  </div>
</div>
